/* TODO
1. add click event to domain list
2. calculate length of slider buttons
 */

body {
  font-family: 'Lato', sans-serif;
}

div, p {
  display: block;
}

input, input:focus, button {
  border: none;
  outline: none;
}
button:focus {
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
}

ul {
  padding: 0;
}

table {
  display: table;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

figure {
  margin: 0;
}

a {
  color: #ffffff;
}
.header__content {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}


.logo__img {
  width: 133px;
  transition: opacity .5s;
}

.logo__img:hover {
  opacity: .7;
}

.header__background {
  height: 944px;
  box-shadow:0 0 0 943px rgba(0, 0, 0, 0.8) inset;
  background: url("img/background.png") no-repeat;
  background-size: cover;
}

.header__menu {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header__nav {
  justify-content: space-between;
  background: rgb(255,255,255, .15);
}

.navbar-toggler {
  border: 1px solid rgb(255,255,255, .1);
}


.nav-link {
  color: #ffffff;
  font-family: Lato;
  border: 1px solid transparent;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.nav-link:hover, .nav-link:focus {
  cursor: pointer;
  color: #9e9e9e;
}

.header__title {
  text-align: center;
  color: #ffffff;
}


.header__title-text {
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
.header__subtitle {
  font-family: "Georgia", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
}

.header__auth {
  display: flex;
  height: 116px;
  overflow: hidden;
}



.auth__login, .auth__register {
  display: flex;
  flex-grow: 1;
  width: 50%;
  justify-content: center;
  align-items: center;
  transform: skewX(-20deg);

}


.auth__login {
  background: #21424b;
  margin-left: -20px;
}

.auth__register {
  background: #39d083;
  margin-right: -20px;
}

.header__auth a {
  transform: skewX(20deg);
  text-transform: uppercase;
  font-size: 22px;
  color: #ffffff;
  transition: transform .5s;
  -webkit-transition: transform .5s;
}

.auth__link:hover, .auth__link:focus {
  color: #d7d7d7;
  transform: skewX(20deg) scale(1.3);
}




.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.main__domain {
  padding-top: 88px;
  padding-bottom: 92px;
}

.domain__text {
  margin-bottom: 50px;
}

.domain__title {
  font-size: 24px;
  color: #383737;
  margin-bottom: 18px
}

.domain__subtitle {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 100;
  color: #a2a2a2;
  font-size: 16px;
}

.domain__content {
  max-width: 888px;
  margin: auto;
  color: #cbcbcb;
}

.domain__form-content {
  margin-bottom: 40px;
}

.domain__form, .domain__table-content {
  box-shadow: none;
  transition: box-shadow .5s;
}



.domain__form:hover, .domain__form:focus, .domain__table-content:hover, .domain__table-content:focus {
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, .1);
}

.domain__form {
  align-items: center;
  padding: 10px 0;
  margin: 0;
}

.search-form__content {

}

.search-form__www-content {
  border-right: 1px solid #d9d9d9;
}
.search-form__content {
  border-right: 1px solid #d9d9d9;
}


.search-form__input {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  color: #868686;
}

.search-form__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  font-weight: 600;
}

.search-form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
  font-weight: 600;
}

.search-form__input::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
  font-weight: 600;
}

.search-form__select {
  position: relative;
  text-align: center;
  padding: 10px 30px 10px 15px;
  margin: -10px 0;
  cursor: pointer
}

.search-form__select ul, .domain__form {
  border: 1px solid #d9d9d9;
}

.search-form__select ul li:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.search-form__select-button {
  padding: 0;
  color: inherit;
}

.search-form__select-menu {
  position: absolute;
  left: 0;
  right: -1px;
  top: 100%;
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  background: #fff;
  z-index: 1;


}


.seaech-form__select-item {
  padding: 11px 0;
  transition: background .5s;
}

.search-form__select.is-active > ul {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}

.select__arrow__down {
  pointer-events: none;
  background-color: transparent;
  color: #cbcbcb!important;
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 16%;
  transform: translateY(-50%);
  transition: .5s transform;
}

.search-form__select.is-active .select__arrow__down {
  transform: rotate(180deg) translateY(50%);
}

.seaech-form__select-item:hover, .seaech-form__select-item:focus {
  background: rgba(0, 0, 0, .02);
}

.search-form__www-content, .search-form__input, .search-form__select-button {
  background-color: transparent;
}

/* End of domain input */
/* Table selection price */

.domain__table-content {
  border: 1px solid #d9d9d9;
  padding: 7px;
}

.domain__table {
  width: 100%;
}

.table-price__cell:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}

.table-price__first-row > .table-price__cell {
  border-bottom: 1px solid #d9d9d9;
}

.table-price__cell {
  position: relative;
  width: 25%;
  padding: 5px 5px;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  color: #cbcbcb;
  font-weight: 400;
}

.table-price__first-row .table-price__cell:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  right: -7px;
  bottom: -7px;
  background-color: #fff;
}

/* End of Table selection price */

.price-background {
  min-height: 386px;
  background: url("img/packages-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #503c3c;
}

.price {
  margin-top: -280px;
}


.hosting-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-top: 5px solid grey;
  padding: 36px 25px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 40px;
  transition: box-shadow .5s;
}

.hosting-item:focus, .hosting-item:hover {

}

.hosting-item__img {
  width: 60px;
  height: 60px;
}

.anchor {
  background: url(img/anchor.png) 100% no-repeat;
}

.hosting-item__title {
  padding: 18px 0;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}

.hosting-item__menu {
  width: 100%;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 30px;
  padding: 8px 0;
}
.hosting-item__menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hosting-item__menu-title {
  padding: 8px 0;
  font-weight: 300;
  color: #b4b4b4;
}


.hosting-item__dollar {
  font-size: 17px;
  font-weight: 900;
}

.hosting-item__price {
  font-size: 28px;
  font-weight: 700;
  color: #2c2c2c;
  border-bottom: 3px solid grey;

}

.hosting-item__month {
  font-size: 13px;
  font-weight: 400;
  color: #8d8d8d;
}

.hosting-item__link {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #282828;
}

.hosting-item_basic .hosting-item__price, .hosting-item_basic {
  border-color: #f9d423;
}
.hosting-item_basic .hosting-item__menu-count {
  color: #f9d423;
}
.hosting-item_normal .hosting-item__price, .hosting-item_normal {
  border-color: #7f8c8d;
}

.hosting-item_normal .hosting-item__menu-count {
  color: #7f8c8d;
}

.hosting-item_basic:hover, .hosting-item_basic:focus{
  box-shadow: 0px 0px 14px 6px rgba(249, 212, 35, .5);
}

.hosting-item_normal:hover, .hosting-item_normal:focus {
  box-shadow: 0px 0px 14px 6px rgba(127, 140, 141, .5);
}

.hosting-item_big:hover, .hosting-item_big:focus {
  box-shadow: 0px 0px 14px 6px rgba(248, 95, 64, .5);
}

.hosting-item_biggest:hover, .hosting-item_biggest:focus {
  box-shadow: 0px 0px 14px 6px rgba(26, 188, 156, .5);
}

.star {
  background-image: url("img/normal_package.png");

  background-size: 100%;
  background-repeat: no-repeat;
}

.hosting-item_big .hosting-item__price, .hosting-item_big {
  border-color: #f85f40;
}

.hosting-item_big .hosting-item__menu-count {
  color: #f85f40;
}

.big__package {
  background-image: url("img/big_package.png");

  background-size: 100%;
  background-repeat: no-repeat;
}

.diamond {
  background-image: url("img/biggest.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hosting-item_biggest .hosting-item__price, .hosting-item_biggest {
  border-color: #1abc9c;
}

.hosting-item_biggest .hosting-item__menu-count {
  color: #1abc9c;
}


.border-dashed {
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(255, 255, 255, 0)), color-stop(5%, #d4d4d4), color-stop(40%, #d4d4d4), color-stop(30%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, #d4d4d4 5%, #d4d4d4 40%, rgba(255, 255, 255, 0) 30%);
  background-position: top;
  background-size: 9px 2px;
  background-repeat: repeat-x;
  border: none;
  margin: 90px 0;
}

.about {
  margin-bottom: 90px;
}

.about__text {
  margin-bottom: 30px;
}

.about__title {
  font-size: 35px;
  font-weight: 900;
  color: #303030;
  margin-bottom: 33px;
}

.about__title > span {
  font-weight: 500;
}

.about__description {
  color: #747474;
  font-size: 18px;
  font-weight: 300;
}

.border-vertical-dashed {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(62.5%, white), color-stop(62.5%, #d4d4d4), to(#d4d4d4));
  background-image: linear-gradient(180deg, white, white 62.5%, #d4d4d4 62.5%, #d4d4d4);
  background-position: top;
  background-size: 2px 10px;
  background-repeat: repeat-y;
  border: none;
  margin: auto;
}

.about__us__common {
  display: flex;
}

.author__img {
  width: 70%;
  border-radius: 50%;
  border: 5px solid rgb(0 0 0 / 10%);
}


.author__name {
  margin-top: 15px;
  margin-bottom: 2px;
  font-size: 17px;
  font-weight: 500;
  color: #303030;
}

.about__author {
  padding: 0 28px;
  text-align: center;
  margin: 30px 0;
}

.author__profession {
  font-size: 15px;
  font-weight: 400;
  color: #8e8e8e;
}

.author__icons {
  display: flex;
  justify-content: space-around;
  margin: 6px 0;
}

.author__icons-link {
  color: #bfbfbf;
  font-size: 20px;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.author__icons-link:hover, .author__icons-link:focus {
  color: blue;
}


.blog {
  background: url("img/blog-background.png");
  background-size: cover;
}

.blog__content {
  padding: 45px 0;
  width: 100%;
}




.blog__comment {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 14px;
}

.blog__author {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  margin-right: 122px;
}


blockquote {
  margin: 0;
}

.carousel-content {
  width: 70%;
  text-align: center;
  margin: auto;
  color: #ffffff;
}

.carousel-indicators {
  border-left: 1px solid #ffffff;
  padding: 4px 12px;
  right: 22%;
  left: auto;
  bottom: 3px;
  margin: 0;
  transition: right .5s;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 100%;
  background-color: transparent;
  margin: 0 6px;
}

.service {
  margin: 97px 0;
}

.service__common {
  margin-top: 98px;
  width: 100%;
  display: flex;
}

.service-item__img {
  position: relative;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.service-item__img-fast {
  background-color: #f1c40f;
}

.service-item__img-cloud {
  background-color: #0faff1;
}

.service-item__img-transfer {
  background-color: #95a5a6;
}

.service-item__img-support {
  background-color: #f1540f;
}

.service-item__img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-item__title {
  margin-top: 21px;
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
  color: #303030;

}

.service__content {
  margin-bottom: 15px;
}

.service__content a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service-item__description {
  line-height: 22px;
  font-weight: 300;
  color: #7e7e7e;
}

.service-item__description:hover, .service-item__description:focus {
  text-decoration: none;
}

.footer {
  background-color: #2a2a2a;
  color: #686868;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  padding: 22px 0;
  border-bottom: 1px solid #4a4a4a;
}

.footer__logo-img_opacity {
  filter: alpha(Opacity=25);
  opacity: 0.25;
  transition: opacity .5s;
}

.footer__logo-img_opacity:hover {
  opacity: 1;
}

ul {
  list-style: none;
}

.footer__menu {
  display: flex;
  margin: 0;
}

.footer__menu-item {
  display: inherit;
  padding-left: 46px;
  align-items: center;
}

.footer_menu-link {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #9e9e9e;
  transition: color 500ms;
}

.footer_menu-link:hover, .footer_menu-link:focus {
  text-decoration: none;
  color: white;
}

.footer__bottom-row {
  padding: 32px 0;
}

.footer__column-left, .footer__center-content, .footer__column-right {
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__column-left {
  font-size: 15px;
  line-height: 26px;
}


.footer__column-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-text__copyright {
  font-weight: 700;
  color: inherit;
  transition: color 500ms;
}

.footer-text__copyright:hover, .footer-text__copyright:focus {
  color: #ffffff;
}

.footer__center-link {
  display: inline-block;
  font-size: 15px;
  line-height: 29px;
  font-weight: 300;
  color: inherit;
  transition: transform 500ms;
  -webkit-transition: transform 500ms;
}

.footer__center-link:hover, .footer__center-link:focus {
  color: #ffffff;
  transform: translateX(7px);
  text-decoration: none;

}

.footer__center-item::before {
  content: "\f105";
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 14px;
  padding-right: 8px;

}

.footer__center-menu {
  margin: 0;
}

.footer__column-right {
  font-weight: 300;
}


.footer__right-phone {
  margin-bottom: 15px;

}

.footer__right-phone::before {
  content: '\f095';
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 14px;
}

.footer__right-mail::before {
  display: inline-block;
  content: "\f0e0";
  font-size: 13px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.footer__right-address {
  font-size: 15px;
  line-height: 29px;
  margin: 0;
}

.footer__right-mail {
  margin-bottom: 7px;
}

.footer__phone-link {
  padding-left: 12px;
  font-size: 15px;
  color: inherit;

}

.footer__email-link {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 400;
  color: inherit;

}

.footer__right-phone, .footer__right-mail, .footer__phone-link, .footer__email-link{
  transition: color 500ms;
}

.footer__right-phone:hover, .footer__right-mail:hover, .footer__phone-link:hover, .footer__phone-link:focus, .footer__email-link:hover, .footer__email-link:focus {
  color: #ffffff;
}


/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .domain__table-content {
    padding: 15px 26px;
  }

  .table-price__cell {
    padding: 23px 10px;
  }

  .author__img {
    width: 100px;
  }

  .author__icons-link {
    font-size: 14px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header__nav {
    background: none;
    padding: 0;
  }

  .header__menu {
    max-width: 960px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
  }

  .header__nav .navbar-collapse {
    flex-grow: 0;
  }

  .nav-link {
    padding: 32px 4px;
  }

  .nav-link:hover, .nav-link:focus {
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    color: #9e9e9e;
  }

  .about__author {
    padding: 0 10px;
  }

  .nav-item:not(:last-child) {
    margin-right: 52px;
  }

  .hosting-item {
    margin-bottom: 0;
  }
  .footer__center-content {
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
  }

  .footer__column-left {
    padding-right: 36px;
  }
  .footer__column-right {
    padding-left: 36px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header__menu {
    max-width: 1140px;
  }
}


